.display-details{

}
#chart{
    float: right;
    margin-top:-15%;
    margin-right: 30%;
}

.small {
    font-size: medium;
    margin-left: 325px;
}

thead{
    background-color: #CC0000;
    color: #FFFFFF;
}

th{
    font-family: "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: #000000;                 /*Font Color is black*/
    background-color: #DEDEE3; /*Light gray*/
    font-size: medium;
}
td{
    font-size: small;
    text-align:center;
    font-family: "Arial Narrow", Arial, sans-serif;
}






/****
 *MEDIA QUERIES
 ***/

/*When the window opens up, lets set it to 800 width*/
@media only screen
and (min-width: 713px)
and (max-width: 1024px)
 {

    #chart{
        margin-top: 2px;
    }

    .small {
       font-size: large;
        margin-left: 275px;
    }



}